.contenuHomePage__informations__button {
    text-align: center;
    
    &--rounded {
        padding: 4% 7%;
        border: none;
        border-radius: 50px;
        margin: 0;
    }

    &--gradient {
        @include linearGradient;
    }
}

.container__button {
        display: flex;
        justify-content: center;
        margin: 15% 0;
        
    &__text {
        padding: 3% 17%;
        border-radius: 20px;
        border: none;
        box-shadow: 0px 0px 58px 13px rgba(197,197,197,1);
        @include linearGradient;
    }
}


